<IMG align=left src="https://faculty.sbs.arizona.edu/hammond/ling508-f17/logo.png" height=30>

<div align=right>
Linguistics 408/508<br>
Hammond<br>
Fall 2017
</div>

<h1 align=center>Homework #1</h1>

## General

<ol>

<li>This is due at the <i>beginning</i> of class on <b>Sept. 5</b>

<li>Rename this file based on your last name, e.g. <code>hw1.ipynb</code> &rarr; <code>jones1.ipynb</code>

<li>Answer all questions in code or text/markdown boxes.

<li>Code does not need to be perfect, but make sure it runs without error

<li>Make sure to <i>save</i> the file....

</ol>

## 408 and 508

<ol>

<li>Add a line of code that will calculate how many times the string <code>'at'</code> occurs in this sentence.

</ol>

There are two ways to code this:

In [1]:
"Add a line of code that will calculate how many times the string 'at' occurs in this sentence.".count ("at")

3

In [2]:
x = "Add a line of code that will calculate how many times the string 'at' occurs in this sentence."
x.count ("at")

3

<ol start=2>

<li>Explain why the following does not work. In the box that follows, correct it so that it does.

</ol>

The methods (unlike functions) need to follow the variable which is a string. In other words, they need a string and a period on their left. In the following code, the method 'upper' precedes the string 'This won't work', leading to an error while runnng the code.

In [3]:
upper('This won't work')

SyntaxError: invalid syntax (<ipython-input-3-2da2f27ba5ad>, line 1)

The correct code will be:

In [4]:
x = "This won't work"
x.upper()

"THIS WON'T WORK"

or:

In [4]:
"This won't work".upper()

"THIS WON'T WORK"

<ol start=3>

<li>For each of the following, explain whether it's true or false <i>and why</i>.<p>

(You will need to add text/markdown cells for each to do this.)

</ol>

In [5]:
'hat' == "hat"

True

This is True as the double equal sign (==) is used for testing equality and in this case both sides of the equality sign are equal. Note that single quotes and double quotes are not different in python.

In [6]:
hat == 'hat'

NameError: name 'hat' is not defined

This code gives an error since these two arguments cannot be compared with each other as python treats hat as three characters and 'hat' as a string, leading to the conclusion that they do not belong to the same datatype. On the left, hat must be entered in the quotes, so that python can distinguish it as a string and then compare it to the argument at the right side which is also a string 'hat' (just like the previous code).

In [7]:

1/3 == .33

False

This is false since two arguments in both sides are not exactly equal. The number on the right should have more decimals. I think if we round down to two decimals, it might become True but I could not figure out how to round down to two decimals and see if the statement is still False or not.  
The following code will be True:

In [8]:
1/3 == .3333333333333333

True

In [9]:
'three' > 'two'

False

This is False as the operation > is used with strings with a different interpretation than when it is used with numbers datatype. In this case, it means "follows alphabetically", not "greater than". Since both "three" and "two" starts with "t", the former does not follow the latter alphabetically.

In [9]:
2 + 2 = 4

SyntaxError: can't assign to operator (<ipython-input-9-1e600edb80ad>, line 1)

Python gives an error while running this code. A single equal sign (=) is interpreted as assignment operator, creating a variable by assigning a value/content to it. In this case, python interprets 2+2 as a variable which is assigned the value 4, not as an statement to test equality. 
Apart from that, as the name of the variable cannot start with a number, python cannot interpret it even as a variable with some content, leading to gives an error.
The following code will be True:

In [10]:
2 + 2 == 4

True

<ol start=4>

<li>Lists and strings are similar in many ways. List <i>and exemplify with code</i> three ways that they are <i>not</i> alike.<p>

(To do this, you will need to <i>add</i> code and text/markdown boxes below.)

</ol>

Lists are mutable i.e. they can be changed whereas strings are immutable i.e. that cannot be changed.

First, it is possible to change the value of a list after we create it as it is shown in the following code ("orange" changes to "strawberry") While it is not possible to modify a character/element of a string ("fruit" will not change to "fluit").

In [19]:
x = ["apple", "orange", "peach"]
x [1] = "strawberry"
x

['apple', 'strawberry', 'peach']

In [21]:
y = "fruit"
y[1] = "l"
y

TypeError: 'str' object does not support item assignment

Second, it is possible to add a new item to the list as opposed to strings ("fruit" will not change to "fruits").

In [22]:
x = ["apple", "orange", "peach"]
x. append ("banana")
x

['apple', 'orange', 'peach', 'banana']

In [23]:
y = "fruit"
y. append ("s")
y

AttributeError: 'str' object has no attribute 'append'

Third, strings treat integers as characters (if operator + is applied, they concatenate two variables, not adding them as integers) while lists treat them as integers.

In [13]:
myStr1 = '67'
myStr2 = '9'
print (myStr1 + myStr2)

679

In [2]:
myList = [ 45, 56, 7]
print (7 + 45)

52

Fourth, it is possible to delete an item in a list but not possible to delete a character of a string ("fruit" will not change to "ruit").

In [24]:
x = ["apple", "orange", "peach"]
x. pop (0)
x

['orange', 'peach']

In [25]:
y = "fruit"
y. pop(0)
y

AttributeError: 'str' object has no attribute 'pop'

Note that we can reuse the variable names again and again for strings but it does not mean that we change the objects. Actually, they return a new string and leave the previous one out. 
In the following code, y has the value "fruit", then a new value "fruits" is given to it, leaving out the first one.

In [26]:
y = "fruit"
y = "fruits"
y

'fruits'

<ol start=5>

<li>Create a dictionary that represents information about students. The key for each entry would be the student's name, but the value for each entry is a tuple of the student's age and GPA.<p>

Then write code so the user gets to "ask" the dictionary for the records for a particular student.<p>

When the program prints out the students record, it should <i>not</i> be as a tuple, but separate lines for age and GPA.

</ol>

In [20]:
stuInfo = {'sarah': (29, 3.5 ), 'john': (18, 2.9), 'jack': (23, 3.9), 'andrew': (26, 4.0), 'tom': (25, 2.5), 'lara': (20, 2.8)}
a = input('please enter the name of the student: ')

print (a + "'s age is " + str (stuInfo [a][0])+ "." + "\n"
       + a + "'s GPA is " + str (stuInfo [a][1])+ ".")

please enter the name of the student: jack
jack's age is 23.
jack's GPA is 3.9.

Sometimes the user might enter a name which is not in the dictionary. Thus, I also add an "if...else" statement to inform the user that the name is not included in the database.

In [22]:
stuInfo = {'sarah': (29, 3.5 ), 'john': (18, 2.9), 'jack': (23, 3.9), 'andrew': (26, 4.0), 'tom': (25, 2.5), 'lara': (20, 2.8)}
a = input('please enter the name of the student: ')

if a in stuInfo: 
 print (a + "'s age is " + str (stuInfo [a][0])+ "." + "\n"
       + a + "'s GPA is " + str (stuInfo [a][1])+ ".")
else:
 print ("Sorry, the records of this student is not available.")

please enter the name of the student: roya
Sorry, the records of this student is not available.

## 508 only

<ol start=6>

<li>Create a small dictionary for two languages you know. (One can be English.) Using the <code>input()</code> command and the <code>format()</code> method, build a simple translation program.

</ol>

In [21]:
myFruitDict = {'apple': 'سیب', 'orange': 'پرتقال', "peach": 'هلو', "pear": "گلابی", "watermelon": "هندوانه", "grape": "انگور", "banana":"موز", "mango":"انبه", "strawberry": "توت فرنگی"};
enteredWord = input ('please enter the word: ');
equiWord = myFruitDict[enteredWord];
transOutput = 'The word "{}" is "{}" in Persian.';
transOutput.format (enteredWord, equiWord)

please enter the word: pear

'The word "pear" is "گلابی" in Persian.'

In my laptop, the words I have written in Persian alphabet are shown without any problem when I run this code but since I am not sure if they will be shown in yours, I include another code using the English alphabet for those words.

In [19]:
myFruitDict = {'apple': 'sib', 'orange': 'porteghal', "peach": 'holou', "pear": "golabi", "watermelon": "hendavaneh", "grape": "angour", "banana": "mouz", "mango":"anbeh", "strawberry": "tout farangi" }
enteredWord = input ('please enter the word: ');
equiWord = myFruitDict[enteredWord];
transOutput = 'The word "{}" is "{}" in Persian.';
transOutput.format (enteredWord, equiWord)

please enter the word: peach

'The word "peach" is "holou" in Persian.'